@model IEnumerable<FA.JustBlog.Core.Models.Comment>
@using FA.JustBlog.Core.Models;

@{
    ViewBag.Title = "Index";
}

@if (@User.IsInRole("BlogOnwer"))
{
    <h2>@Html.ActionLink("Create", "Create")</h2>
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Category</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Post name</th>
                                <th>Header</th>
                                <th>Text</th>
                                <th>Time</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Comment item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Post.Title</td>
                                    <td>@item.CommentHeader</td>
                                    <td>@item.CommentText</td>
                                    <td>@item.CommentTime</td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                                    <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                    @if (@User.IsInRole("BlogOnwer"))
                                    {
                                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                                    }

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @*<tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
