@model IEnumerable<FA.JustBlog.Core.Models.Post>
@using FA.JustBlog.Core.Models;

@{
    ViewBag.Title = "Index";
}


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.ViewPost</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@FA.JustBlog.Resources.Language.title</th>
                                <th>@FA.JustBlog.Resources.Language.ShortDescription</th>
                                <th>@FA.JustBlog.Resources.Language.urlSlug</th>
                                <th>@FA.JustBlog.Resources.Language.Poston</th>
                                <th>@FA.JustBlog.Resources.Language.Modified</th>
                                <th>@FA.JustBlog.Resources.Language.ListTag</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Post item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.ShortDescription</td>
                                    <td>@item.UrlSlug</td>
                                    <td>@item.PostedOn</td>
                                    <td>@item.Modified</td>
                                    <td>
                                        @foreach (var tag in item.Tags)
                                        {
                                            <span>@tag.Name</span>
                                        }
                                    </td>
                                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                                    <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                                    @if (@User.IsInRole("BlogOnwer"))
                                    {
                                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @*<tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
